body{
    background-color: (6,6,56);/*Missing rgb infront of the (*/
}
body{
    color: (255,255,255);/*Missing rgb infront of the (*/
}
body{
    font-family: 'Courier New', Courier, monospace;
}
body{
    margin: 0;
}
header{
    background-color: (25,64,100);/*Missing rgb infront of the (*/
}
header{
    padding: 2rem;
}
header a{
    color: (66,211,221);/*Missing rgb infront of the (*/
}
header{
    text-align: center;
}
main{
    padding: 1rem;
}
.home-content div{
    display: inline-block;
}
.home-content div{
    width: 60%;
}
.home-content img{
    width: 38%;
}
.home-content img{
    vertical-align: top;
}
.jellies, .whales, .creatures{
    background-color: (19,107,114);/*Missing rgb infront of the (*/
}
.jellies, .whales, .creatures{
    padding: 1rem;
}
.jellies, .whales, .creatures{
    display: inline-block;
}
.jellies, .whales, .creatures{
    margin: .5rem;
}
.jellies, .whales, .creatures{
    vertical-align: top;
}
.jellies{
    width: 29%;
}
img{
    max-width: 100%;
}
.whales{
    width: 46%;
}
.creatures{
    width: 29%;
}