body{
    background-image:url(https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000);
}
body{
    background-size: 200rem;
}
body{
    background-position: 0rem;
}
body{
    background-repeat: repeat-x;
}
button:visited{
background-color: black;
}
button:hover{
background-color: red;
}
button:active{
background-color: aquamarine;
}
button:link{
    background-color: aqua;
}